openapi: 3.1.0
info:
  title: Bark & Meow — API
  version: 1.0.0
  description: |-
    Contrato de apps/api: lo consumen el portal del dueño (mi-mascota), la app, la web de la clínica, la web del veterinario, el panel del operador y el software de gestión.

    Dos principios que cualquier implementación debe respetar:

    1. **El servidor no descifra.** Todo lo que lleva contenido clínico viaja como bytes opacos en base64.
    2. **Localizar no es abrir.** La consulta por identificador responde si existe ficha y nada más, con el mismo tamaño y el mismo tiempo en ambos casos.

    La consulta entre nodos (`/federation/v1/lookup`) está por implementar: solo podrá decir si existe ficha y ofrecer un enlace de aviso, con peticiones y respuestas firmadas con Ed25519.

    Generado desde packages/schema/src/api. No se edita a mano.
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
  - url: https://barkandmeow.app/api
    description: Producción
  - url: http://127.0.0.1:4601
    description: Desarrollo
paths:
  /owners/v1/register:
    post:
      tags:
        - Dueño (portal y app)
      summary: "Alta: cuenta, primera mascota pendiente y código de entrada al correo."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                email:
                  type: string
                  maxLength: 254
                  format: email
                  pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                password:
                  type: string
                  minLength: 12
                  maxLength: 200
                pubKey:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
                recuperacionPub:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
                mascota:
                  type: object
                  properties:
                    identificador:
                      oneOf:
                        - type: object
                          properties:
                            tipo:
                              type: string
                              const: iso
                            valor:
                              type: string
                              pattern: ^\d{15}$
                          required:
                            - tipo
                            - valor
                        - type: object
                          properties:
                            tipo:
                              type: string
                              const: nonISO
                            valor:
                              type: string
                              pattern: ^nonISO:[0-9A-F]{9,10}$
                          required:
                            - tipo
                            - valor
                        - type: object
                          properties:
                            tipo:
                              type: string
                              const: ring
                            valor:
                              type: string
                              minLength: 3
                              maxLength: 32
                          required:
                            - tipo
                            - valor
                        - type: object
                          properties:
                            tipo:
                              type: string
                              const: tattoo
                            valor:
                              type: string
                              minLength: 3
                              maxLength: 32
                            ubicacion:
                              type: string
                              maxLength: 64
                          required:
                            - tipo
                            - valor
                    nombre:
                      default: ""
                      type: string
                      maxLength: 60
                  required:
                    - identificador
              required:
                - email
                - password
                - pubKey
                - mascota
      responses:
        "201":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  token:
                    type: string
                  correo:
                    type: string
                  mascota:
                    type: object
                    properties:
                      codigoActivacion:
                        type: string
                      caduca:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                      petId:
                        type: string
                        format: uuid
                        pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                    required:
                      - codigoActivacion
                      - caduca
                      - petId
                    additionalProperties: false
                required:
                  - correo
                  - mascota
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: publica
  /owners/v1/login:
    post:
      tags:
        - Dueño (portal y app)
      summary: "Entrar, primer paso: chip y contraseña. Envía el código de entrada."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                identificador:
                  oneOf:
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: iso
                        valor:
                          type: string
                          pattern: ^\d{15}$
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: nonISO
                        valor:
                          type: string
                          pattern: ^nonISO:[0-9A-F]{9,10}$
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: ring
                        valor:
                          type: string
                          minLength: 3
                          maxLength: 32
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: tattoo
                        valor:
                          type: string
                          minLength: 3
                          maxLength: 32
                        ubicacion:
                          type: string
                          maxLength: 64
                      required:
                        - tipo
                        - valor
                password:
                  type: string
                  minLength: 1
                  maxLength: 200
              required:
                - identificador
                - password
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  enviado:
                    type: boolean
                    const: true
                  canal:
                    type: string
                    enum:
                      - correo
                      - sms
                  correo:
                    type: string
                  otroCanal:
                    anyOf:
                      - type: string
                        enum:
                          - correo
                          - sms
                      - type: "null"
                  token:
                    type: string
                required:
                  - enviado
                  - canal
                  - correo
                  - otroCanal
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error 502
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: publica
  /owners/v1/login/verify:
    post:
      tags:
        - Dueño (portal y app)
      summary: "Entrar, segundo paso (y confirmación del alta): el código del correo o del SMS."
      security: &a1
        - sesionDueno: []
        - tokenApp: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                codigo:
                  type: string
                  maxLength: 20
              required:
                - codigo
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                  token:
                    type: string
                required:
                  - ok
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Error 410
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno-pendiente
  /owners/v1/login/resend:
    post:
      tags:
        - Dueño (portal y app)
      summary: Otro código para la sesión pendiente, uno por minuto, por el canal pedido.
      security: *a1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              default: {}
              type: object
              properties:
                canal:
                  type: string
                  enum:
                    - correo
                    - sms
      responses:
        "202":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  enviado:
                    type: boolean
                    const: true
                  canal:
                    type: string
                    enum:
                      - correo
                      - sms
                  correo:
                    type: string
                  otroCanal:
                    anyOf:
                      - type: string
                        enum:
                          - correo
                          - sms
                      - type: "null"
                  token:
                    type: string
                required:
                  - enviado
                  - canal
                  - correo
                  - otroCanal
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Error 410
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error 502
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno-pendiente
  /owners/v1/logout:
    post:
      tags:
        - Dueño (portal y app)
      summary: Cierra la sesión. No falla si ya no había.
      security: &a2
        - sesionDueno: []
        - tokenApp: []
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
      x-acceso: dueno
  /owners/v1/me:
    get:
      tags:
        - Dueño (portal y app)
      summary: "El dueño: sus mascotas, su perfil público, sus reclamaciones y su segundo factor."
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  correo:
                    type: string
                  pubKey:
                    type: string
                    pattern: ^[A-Za-z0-9+/]+={0,2}$
                  recuperacion:
                    type: boolean
                  segundoFactor:
                    type: string
                    enum:
                      - correo
                      - sms
                  telefono:
                    anyOf:
                      - type: object
                        properties:
                          numero:
                            type: string
                          verificado:
                            type: boolean
                        required:
                          - numero
                          - verificado
                        additionalProperties: false
                      - type: "null"
                  mascotas:
                    type: array
                    items:
                      type: object
                      properties:
                        petId:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                        estado:
                          type: string
                          enum:
                            - pendiente
                            - activa
                            - congelada
                            - retirada
                        chipPista:
                          type:
                            - string
                            - "null"
                        activada:
                          anyOf:
                            - type: string
                              format: date-time
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                            - type: "null"
                        mensajes:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        perfil:
                          type: object
                          properties:
                            nombre:
                              type: string
                            bio:
                              type: string
                            telefonos:
                              type: array
                              items:
                                type: object
                                properties:
                                  etiqueta:
                                    type: string
                                  numero:
                                    type: string
                                required:
                                  - etiqueta
                                  - numero
                                additionalProperties: false
                            publicado:
                              type: boolean
                            foto:
                              type:
                                - string
                                - "null"
                          required:
                            - nombre
                            - bio
                            - telefonos
                            - publicado
                            - foto
                          additionalProperties: false
                        reclamacion:
                          anyOf:
                            - type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                                plazo:
                                  type: string
                                  format: date-time
                                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                                estado:
                                  type: string
                                  enum:
                                    - abierta
                                    - impugnada
                                rol:
                                  type: string
                                  enum:
                                    - titular
                                    - reclamante
                              required:
                                - id
                                - plazo
                                - estado
                                - rol
                              additionalProperties: false
                            - type: "null"
                      required:
                        - petId
                        - estado
                        - chipPista
                        - activada
                        - mensajes
                        - perfil
                        - reclamacion
                      additionalProperties: false
                required:
                  - correo
                  - pubKey
                  - recuperacion
                  - segundoFactor
                  - telefono
                  - mascotas
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/pets:
    post:
      tags:
        - Dueño (portal y app)
      summary: Otra mascota en la misma cuenta. Queda pendiente hasta que la active una clínica.
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                identificador:
                  oneOf:
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: iso
                        valor:
                          type: string
                          pattern: ^\d{15}$
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: nonISO
                        valor:
                          type: string
                          pattern: ^nonISO:[0-9A-F]{9,10}$
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: ring
                        valor:
                          type: string
                          minLength: 3
                          maxLength: 32
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: tattoo
                        valor:
                          type: string
                          minLength: 3
                          maxLength: 32
                        ubicacion:
                          type: string
                          maxLength: 64
                      required:
                        - tipo
                        - valor
                nombre:
                  default: ""
                  type: string
                  maxLength: 60
              required:
                - identificador
      responses:
        "201":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  codigoActivacion:
                    type: string
                  caduca:
                    type: string
                    format: date-time
                    pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                  petId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                required:
                  - codigoActivacion
                  - caduca
                  - petId
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/pets/{id}/activation-code:
    post:
      tags:
        - Dueño (portal y app)
      summary: "Nuevo código de activación: se muestra una vez y el anterior deja de valer."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  codigoActivacion:
                    type: string
                  caduca:
                    type: string
                    format: date-time
                    pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                required:
                  - codigoActivacion
                  - caduca
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/pets/{id}/profile:
    put:
      tags:
        - Dueño (portal y app)
      summary: "Perfil público: lo que ve quien encuentre al animal, si el dueño lo publica."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                nombre:
                  type: string
                  maxLength: 60
                bio:
                  type: string
                  maxLength: 600
                telefonos:
                  maxItems: 3
                  type: array
                  items:
                    type: object
                    properties:
                      etiqueta:
                        type: string
                        maxLength: 30
                      numero:
                        type: string
                        pattern: ^\+?[0-9 ()-]{6,20}$
                    required:
                      - etiqueta
                      - numero
                publicado:
                  type: boolean
              required:
                - nombre
                - bio
                - telefonos
                - publicado
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/pets/{id}/photo:
    put:
      tags:
        - Dueño (portal y app)
      summary: "Foto del perfil: JPEG, PNG o WebP de hasta 2 MB. Cada foto nueva tiene URL nueva."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      requestBody:
        required: true
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/webp:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  foto:
                    type: string
                required:
                  - foto
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          description: Error 413
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "415":
          description: Error 415
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Error 503
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
    get:
      tags:
        - Dueño (portal y app)
      summary: La foto vista por su dueño, esté o no publicada.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Bytes
          content:
            image/*:
              schema:
                type: string
                format: binary
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
    delete:
      tags:
        - Dueño (portal y app)
      summary: Quita la foto del perfil.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/phone:
    put:
      tags:
        - Dueño (portal y app)
      summary: "Poner o cambiar el teléfono: llega un código por SMS; no cuenta hasta confirmarlo."
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                telefono:
                  type: string
                  minLength: 8
                  maxLength: 24
              required:
                - telefono
      responses:
        "202":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  enviado:
                    type: boolean
                    const: true
                  telefono:
                    type: string
                required:
                  - enviado
                  - telefono
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error 502
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
    delete:
      tags:
        - Dueño (portal y app)
      summary: "Quitar el teléfono: el código vuelve a llegar por correo."
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                  segundoFactor:
                    type: string
                    const: correo
                required:
                  - ok
                  - segundoFactor
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/phone/verify:
    post:
      tags:
        - Dueño (portal y app)
      summary: Confirmar el teléfono con el código del SMS. Desde ese momento, el SMS es el canal.
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                codigo:
                  type: string
                  maxLength: 20
              required:
                - codigo
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                  segundoFactor:
                    type: string
                    const: sms
                required:
                  - ok
                  - segundoFactor
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Error 410
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/second-factor:
    put:
      tags:
        - Dueño (portal y app)
      summary: Elegir el canal del código de entrada. «sms» exige el teléfono confirmado.
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                canal:
                  type: string
                  enum:
                    - correo
                    - sms
              required:
                - canal
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                  segundoFactor:
                    type: string
                    enum:
                      - correo
                      - sms
                required:
                  - ok
                  - segundoFactor
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/devices:
    post:
      tags:
        - Dueño (portal y app)
      summary: Registrar el token push del móvil. Si era de otra cuenta, pasa a esta.
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                plataforma:
                  type: string
                  const: expo
                token:
                  type: string
                  pattern: ^Expo(nent)?PushToken\[[A-Za-z0-9_-]{10,64}\]$
              required:
                - plataforma
                - token
      responses:
        "201":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
    delete:
      tags:
        - Dueño (portal y app)
      summary: Dejar de recibir avisos en este móvil.
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                token:
                  type: string
                  pattern: ^Expo(nent)?PushToken\[[A-Za-z0-9_-]{10,64}\]$
              required:
                - token
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/claims/{id}/contest:
    post:
      tags:
        - Dueño (portal y app)
      summary: "Impugnar una reclamación sobre mi chip: detiene el traspaso y pasa a revisión a mano."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  estado:
                    type: string
                    const: impugnada
                required:
                  - estado
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/inbox:
    get:
      tags:
        - Dueño (portal y app)
      summary: Notas, avisos e informes sellados a la clave pública del dueño.
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  mensajes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                        petId:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                        sellado:
                          type: string
                          pattern: ^[A-Za-z0-9+/]+={0,2}$
                        llegada:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                        adjuntos:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                                pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                              orden:
                                type: integer
                                minimum: 0
                                maximum: 9007199254740991
                              bytes:
                                type: integer
                                minimum: 0
                                maximum: 9007199254740991
                            required:
                              - id
                              - orden
                              - bytes
                            additionalProperties: false
                        origen:
                          anyOf:
                            - type: object
                              properties:
                                clinica:
                                  type: string
                                pais:
                                  type: string
                                dominio:
                                  type:
                                    - string
                                    - "null"
                                firma:
                                  anyOf:
                                    - type: string
                                      pattern: ^[A-Za-z0-9+/]+={0,2}$
                                    - type: "null"
                              required:
                                - clinica
                                - pais
                                - dominio
                                - firma
                              additionalProperties: false
                            - type: "null"
                      required:
                        - id
                        - petId
                        - sellado
                        - llegada
                        - adjuntos
                        - origen
                      additionalProperties: false
                required:
                  - mensajes
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/inbox/{id}:
    delete:
      tags:
        - Dueño (portal y app)
      summary: Borrar un mensaje y sus adjuntos. No hay papelera.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/inbox/{id}/attachments/{adjuntoId}:
    get:
      tags:
        - Dueño (portal y app)
      summary: Un PDF adjunto, sellado. Se abre en el navegador o el móvil del dueño.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: adjuntoId
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Bytes
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Error 503
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/pets/{id}/passport:
    get:
      tags:
        - Dueño (portal y app)
      summary: El pasaporte cifrado, o null si aún no hay (versión 0).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  sobre:
                    anyOf:
                      - type: string
                        pattern: ^[A-Za-z0-9+/]+={0,2}$
                      - type: "null"
                  version:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                required:
                  - sobre
                  - version
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
    put:
      tags:
        - Dueño (portal y app)
      summary: "Guarda el pasaporte. `version` es la leída: si otro la cambió entre medias, 409."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                sobre:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
                version:
                  type: integer
                  minimum: 0
                  maximum: 9007199254740991
              required:
                - sobre
                - version
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  version:
                    type: integer
                    exclusiveMinimum: 0
                    maximum: 9007199254740991
                required:
                  - version
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/pets/{id}/shares:
    get:
      tags:
        - Dueño (portal y app)
      summary: Enlaces de viaje vivos de una mascota.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  enlaces:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                        caduca:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                        creado:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                      required:
                        - id
                        - caduca
                        - creado
                      additionalProperties: false
                required:
                  - enlaces
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
    post:
      tags:
        - Dueño (portal y app)
      summary: "Nuevo enlace temporal. El id lo elige el navegador: el cifrado va atado a él."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                sobre:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
                horas:
                  anyOf:
                    - type: number
                      const: 24
                    - type: number
                      const: 72
                    - type: number
                      const: 168
              required:
                - id
                - sobre
                - horas
      responses:
        "201":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  caduca:
                    type: string
                    format: date-time
                    pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                required:
                  - id
                  - caduca
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/pets/{id}/shares/{shareId}:
    delete:
      tags:
        - Dueño (portal y app)
      summary: "Retirar un enlace borra el bloque: deja de abrirse al momento."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: shareId
          in: path
          required: true
          schema:
            type: string
      security: *a2
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                  descargadoNoVuelve:
                    type: boolean
                    const: true
                required:
                  - ok
                  - descargadoNoVuelve
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /owners/v1/recovery:
    post:
      tags:
        - Dueño (portal y app)
      summary: "Paso 1: el chip. Devuelve un reto para firmar con la clave del código en papel, haya cuenta o no."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                identificador:
                  oneOf:
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: iso
                        valor:
                          type: string
                          pattern: ^\d{15}$
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: nonISO
                        valor:
                          type: string
                          pattern: ^nonISO:[0-9A-F]{9,10}$
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: ring
                        valor:
                          type: string
                          minLength: 3
                          maxLength: 32
                      required:
                        - tipo
                        - valor
                    - type: object
                      properties:
                        tipo:
                          type: string
                          const: tattoo
                        valor:
                          type: string
                          minLength: 3
                          maxLength: 32
                        ubicacion:
                          type: string
                          maxLength: 64
                      required:
                        - tipo
                        - valor
              required:
                - identificador
      responses:
        "201":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  recuperacionId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  reto:
                    type: string
                  caduca:
                    type: string
                    format: date-time
                    pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                required:
                  - recuperacionId
                  - reto
                  - caduca
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: publica
  /owners/v1/recovery/proof:
    post:
      tags:
        - Dueño (portal y app)
      summary: "Paso 2: el reto firmado (Ed25519) con la clave de recuperación del papel. Si vale, sale un código por el segundo factor."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                recuperacionId:
                  type: string
                  format: uuid
                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                clave:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
                firma:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
              required:
                - recuperacionId
                - clave
                - firma
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  enviado:
                    type: boolean
                    const: true
                  canal:
                    type: string
                    enum:
                      - correo
                      - sms
                  destino:
                    type: string
                required:
                  - enviado
                  - canal
                  - destino
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Error 410
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error 502
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: publica
  /owners/v1/recovery/finish:
    post:
      tags:
        - Dueño (portal y app)
      summary: "Paso 3: el código y la contraseña nueva. Cierra todas las sesiones y avisa por correo."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                recuperacionId:
                  type: string
                  format: uuid
                  pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                codigo:
                  type: string
                  maxLength: 20
                password:
                  type: string
                  minLength: 12
                  maxLength: 200
              required:
                - recuperacionId
                - codigo
                - password
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Error 410
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: publica
  /owners/v1/recovery-key:
    put:
      tags:
        - Dueño (portal y app)
      summary: "Cuentas de antes de la recuperación: guardar una vez la clave pública de recuperación."
      security: *a2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                clave:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
              required:
                - clave
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: dueno
  /clinics/v1/register:
    post:
      tags:
        - Clínica
      summary: Alta de la clínica y de su primer administrador. Abre sesión y envía el código al correo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                nombre:
                  type: string
                  minLength: 2
                  maxLength: 160
                pais:
                  type: string
                  minLength: 2
                  maxLength: 2
                registroSanitario:
                  type: string
                  maxLength: 64
                direccion:
                  type: string
                  maxLength: 300
                pubKey:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
                admin:
                  type: object
                  properties:
                    nombre:
                      type: string
                      minLength: 2
                      maxLength: 160
                    email:
                      type: string
                      format: email
                      pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    password:
                      type: string
                      minLength: 12
                      maxLength: 200
                    devicePubKey:
                      type: string
                      pattern: ^[A-Za-z0-9+/]+={0,2}$
                  required:
                    - nombre
                    - email
                    - password
                    - devicePubKey
              required:
                - nombre
                - pais
                - pubKey
                - admin
      responses:
        "201":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  clinicId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  memberId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  correo:
                    type: string
                  dominio:
                    type:
                      - string
                      - "null"
                  correoVerificado:
                    type: boolean
                    const: false
                required:
                  - clinicId
                  - memberId
                  - correo
                  - dominio
                  - correoVerificado
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: publica
  /clinics/v1/email/verify:
    post:
      tags:
        - Clínica
      summary: Valida el código del correo; con dominio propio, verifica también la clínica.
      security: &a3
        - sesionClinica: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                codigo:
                  type: string
                  maxLength: 20
              required:
                - codigo
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  verificado:
                    type: boolean
                    const: true
                  dominio:
                    type:
                      - string
                      - "null"
                  clinicaVerificada:
                    type: boolean
                required:
                  - verificado
                  - dominio
                  - clinicaVerificada
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Error 410
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: clinica
  /clinics/v1/email/resend:
    post:
      tags:
        - Clínica
      summary: Envía un código nuevo al correo. Uno por minuto como mucho.
      security: *a3
      responses:
        "202":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  enviado:
                    type: boolean
                    const: true
                  correo:
                    type: string
                required:
                  - enviado
                  - correo
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error 502
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: clinica
  /clinics/v1/login:
    post:
      tags:
        - Clínica
      summary: Entrada de un miembro con correo y contraseña. Pone la cookie de sesión.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                email:
                  type: string
                  format: email
                  pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                password:
                  type: string
                  minLength: 1
                  maxLength: 200
              required:
                - email
                - password
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  memberId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  clinicId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  role:
                    type: string
                    enum:
                      - admin
                      - vet
                      - assistant
                required:
                  - memberId
                  - clinicId
                  - role
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: publica
  /clinics/v1/logout:
    post:
      tags:
        - Clínica
      summary: Cierra la sesión y borra la cookie.
      security: *a3
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
      x-acceso: clinica
  /clinics/v1/me:
    get:
      tags:
        - Clínica
      summary: Quién está dentro y de qué clínica.
      security: *a3
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  memberId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  clinicId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  role:
                    type: string
                    enum:
                      - admin
                      - vet
                      - assistant
                  clinicaActiva:
                    type: boolean
                  nombre:
                    type: string
                  correo:
                    type: string
                  correoVerificado:
                    type: boolean
                  claveEnvuelta:
                    type:
                      - string
                      - "null"
                  clinica:
                    type: object
                    properties:
                      nombre:
                        type: string
                      pais:
                        type: string
                      dominio:
                        type:
                          - string
                          - "null"
                      verificada:
                        type: boolean
                      direccion:
                        type:
                          - string
                          - "null"
                      pubKey:
                        type: string
                    required:
                      - nombre
                      - pais
                      - dominio
                      - verificada
                      - direccion
                      - pubKey
                    additionalProperties: false
                required:
                  - memberId
                  - clinicId
                  - role
                  - clinicaActiva
                  - nombre
                  - correo
                  - correoVerificado
                  - claveEnvuelta
                  - clinica
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: clinica
  /clinics/v1/members:
    get:
      tags:
        - Clínica
      summary: Miembros vivos de la clínica y cómo custodia cada administrador la clave.
      security: *a3
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  miembros:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                        nombre:
                          type: string
                        email:
                          type: string
                        rol:
                          type: string
                          enum:
                            - admin
                            - vet
                            - assistant
                        aceptado:
                          anyOf:
                            - type: string
                              format: date-time
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                            - type: "null"
                        alta:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:\.\d+)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                        yo:
                          type: boolean
                        custodia:
                          anyOf:
                            - type: string
                              enum:
                                - codigo
                                - entregada
                                - pendiente
                                - sin-aceptar
                            - type: "null"
                        devicePubKey:
                          type:
                            - string
                            - "null"
                      required:
                        - id
                        - nombre
                        - email
                        - rol
                        - aceptado
                        - alta
                        - yo
                        - custodia
                        - devicePubKey
                      additionalProperties: false
                required:
                  - miembros
                additionalProperties: false
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: clinica
    post:
      tags:
        - Clínica
      summary: Un administrador invita por correo a un miembro nuevo.
      security: *a3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                nombre:
                  type: string
                  minLength: 2
                  maxLength: 160
                email:
                  type: string
                  format: email
                  pattern: ^(?:[A-Za-z0-9_'+\-]+\.)*[A-Za-z0-9_'+\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                rol:
                  type: string
                  enum:
                    - admin
                    - vet
                    - assistant
              required:
                - nombre
                - email
                - rol
      responses:
        "201":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  memberId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  enviado:
                    type: boolean
                    const: true
                required:
                  - memberId
                  - enviado
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Error 403
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Error 429
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "502":
          description: Error 502
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: clinica
  /clinics/v1/members/{id}/clinic-key:
    post:
      tags:
        - Clínica
      summary: Entrega la clave de la clínica, sellada en el navegador, a otro administrador.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                wrappedClinicKey:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
              required:
                - wrappedClinicKey
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                required:
                  - ok
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Error 403
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Error 409
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: clinica
  /clinics/v1/members/accept:
    post:
      tags:
        - Clínica
      summary: Acepta la invitación con el token del correo, elige contraseña y abre sesión.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                token:
                  type: string
                  minLength: 20
                  maxLength: 200
                password:
                  type: string
                  minLength: 12
                  maxLength: 200
                devicePubKey:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
                wrappedClinicKey:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
              required:
                - token
                - password
                - devicePubKey
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  memberId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  clinicId:
                    type: string
                    format: uuid
                    pattern: ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
                  role:
                    type: string
                    enum:
                      - admin
                      - vet
                      - assistant
                required:
                  - memberId
                  - clinicId
                  - role
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: publica
  /clinics/v1/members/{id}:
    delete:
      tags:
        - Clínica
      summary: "Da de baja a un miembro: borra su envoltura de la clave y sus sesiones."
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security: *a3
      responses:
        "200":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  ok:
                    type: boolean
                    const: true
                  descargadoNoVuelve:
                    type: boolean
                    const: true
                required:
                  - ok
                  - descargadoNoVuelve
                additionalProperties: false
        "400":
          description: Error 400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Error 401
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Error 403
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Error 404
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      x-acceso: clinica
  /clinics/v1/drafts:
    post:
      tags:
        - Clínica
      summary: Ficha preparada sin dueño todavía, sellada con la clave de la clínica. Caduca a los 90 días.
      security: *a3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $schema: https://json-schema.org/draft/2020-12/schema
              type: object
              properties:
                especie:
                  type: string
                  enum:
                    - dog
                    - cat
                    - ferret
                    - bird
                    - rabbit
                    - rodent
                    - reptile
                    - amphibian
                    - fish
                    - invertebrate
                identificadores:
                  minItems: 0
                  maxItems: 4
                  type: array
                  items:
                    oneOf:
                      - type: object
                        properties:
                          tipo:
                            type: string
                            const: iso
                          valor:
                            type: string
                            pattern: ^\d{15}$
                        required:
                          - tipo
                          - valor
                      - type: object
                        properties:
                          tipo:
                            type: string
                            const: nonISO
                          valor:
                            type: string
                            pattern: ^nonISO:[0-9A-F]{9,10}$
                        required:
                          - tipo
                          - valor
                      - type: object
                        properties:
                          tipo:
                            type: string
                            const: ring
                          valor:
                            type: string
                            minLength: 3
                            maxLength: 32
                        required:
                          - tipo
                          - valor
                      - type: object
                        properties:
                          tipo:
                            type: string
                            const: tattoo
                          valor:
                            type: string
                            minLength: 3
                            maxLength: 32
                          ubicacion:
                            type: string
                            maxLength: 64
                        required:
                          - tipo
                          - valor
                sealed:
                  type: string
                  pattern: ^[A-Za-z0-9+/]+={0,2}$
              required:
                - especie
                - identificadores
                - sealed
      responses:
        "201":
          description: Correcto
          content:
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties:
                  draftId:
                    type: string
                    format: uuid
[...]
